/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Navigation {
  display: none;

  @media (--lg) {
    display: block
  }
}

.hd-Navigation_Items {
  padding: 0;

  display: flex;
}

.hd-Navigation_Item {
  margin-right: 40px;
}

.hd-Navigation_Link {
  display: block;
  font-size: .65rem;
}
