/*
|--------------------------------------------------------------------------
| Breakpoints
|--------------------------------------------------------------------------
*/
@custom-media --xxs (min-width: 350px);
@custom-media --xs (min-width: 450px);
@custom-media --sm (min-width: 768px);
@custom-media --md (min-width: 900px);
@custom-media --lg (min-width: 1200px);
@custom-media --xlg (min-width: 1440px);
@custom-media --xxlg (min-width: 1600px);
