/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.ft-Footer {
  position: fixed;
  width: 100%;
  height: 25px;
  bottom: 0;
}

.ft-Footer_Body {
  position: absolute;
  height: 25px;
  width: 100%;

  background: var(--color-black);

  transition: transform var(--transition-speed), border var(--transition-speed);
}
